/* reset */


.dropdown {
  button {
    all: unset;
  }
  &__content,
  &__sub-content {
    border-radius: 0.25rem;
    background-color: var(--black);
    border:solid 1px #3A3A3A;

    padding: 8px 0;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
      0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }
  &__content[data-side='top'],
  &__sub-content[data-side='top'] {
    animation-name: slideDownAndFade;
  }
  &__content[data-side='right'],
  &__sub-content[data-side='right'] {
    animation-name: slideLeftAndFade;
  }
  &__content[data-side='bottom'],
  &__sub-content[data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  &__content[data-side='left'],
  &__sub-content[data-side='left'] {
    animation-name: slideRightAndFade;
  }

  &__item,
  &__checkbox-item,
  &__radio-item,
  &__sub-trigger {
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    color: #B8B8B8;

    // display: flex;
    // align-items: center;
    // height: 25px;
    padding: 5px;
    position: relative;

    user-select: none;
    outline: none;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__sub-trigger {
    &[data-state='open'] {
      background-color: var(--primary);
      color: var(--gray);
    }
  }

  &__item,
  &__checkbox-item,
  &__radio-item,
  &__sub-trigger {
    &[data-disabled] {
      color: var(--primary);
      pointer-events: none;
    }
    &[data-highlighted],&.selected {
      background-color: var(--primary);
      color: var(--white-2);
    }
  }
  &__label {
    padding-left: 25px;
    font-size: 12px;
    line-height: 25px;
    color: var(--primary);;
  }

  &__separator {
    height: 1px;
    background-color: var(--primary);;
    margin: 5px;
  }

  &__item-indicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &__arrow {
    fill: white;
  }
  &__icon-btn {
    font-family: inherit;
    border-radius: 0.25rem;
    padding:0.75rem 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: var(--black);
    color: #B8B8B8;
    border:solid 1px #3A3A3A;
    // box-shadow: 0 2px 8px var(--gray-14);
    &:hover {
      background-color: var(--white);
      color: var(--black-3);
    }
    &:focus {
      box-shadow: 0 0 0 2px black;
    }
  }



  [data-highlighted] > .dropdown__right-slot {
    color: white;
  }
  [data-disabled] .dropdown__right-slot {
    color: var(--mauve8);
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
