.locale-switcher {
  padding: 0.6rem 2rem !important;

  &__content {
    min-width: 152px;
  }

  @media (min-width: 1199px) {
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 12px;
  }
}

// [data-radix-popper-content-wrapper]{
//     z-index: 10000 !important;
//     @media #{$lg} {
//       z-index: 10 !important;
//     }
// }
